<div class="container">
    <!-- Barre de recherche -->
    <div class="head">
     

      <h2>Liste des ordonnaces</h2>
      <div class="search-bar">
        <input type="text"  [(ngModel)]="searchQuery" placeholder="Search" />
        <div class="qr-icon" (click)="openScannerPopup()">
          <i class="fas fa-qrcode"></i>
      </div>
    </div>
  </div>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Ordonnance</th>
         
          <th>Date</th>
          <th>Médecin</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordonnace of filteredOrdo" (click)="showDetails(ordonnace)">
           
            <td>{{ ordonnace.ordo }}</td>
            <td>{{ ordonnace .date }}</td>
            <td>{{ ordonnace.medecin }}</td>
           
           
        </tr>

        
      </tbody>
    </table>

    <!-- Détails de l'ordonnance -->
<div *ngIf="selectedOrdo" class="overlay-container">
    <div class="details-panel">
        <button class="close-button " (click)="closeDetails()">X</button> 
    <h3>Détails de l'Ordonnance</h3>
  
    <!-- Exemple de détails des médicaments -->
    <div *ngFor="let row of selectedOrdo.details" class="details-row">
        <span><strong>Médicament:  </strong> {{ row.medecament }}</span>
        <span><strong>Dosage:</strong> {{ row.dose }}</span>
        <span><strong>Durée:</strong> {{ row.duree }}</span>
    </div>

    </div>
  
   

  
 
</div>


  <!-- Popup Overlay -->
  <div *ngIf="showScanner" class="popup-overlay"></div>
  
  <!-- POP-UP pour Scanner -->
  <div class="qr-popup" *ngIf="showScanner">
      <div class="popup-content">
          <span class="close" (click)="closeScannerPopup()">&times;</span>
          <h3>Scanner le QR Code</h3>
          <zxing-scanner 
              [formats]="formats" 
              (scanSuccess)="onCodeScanned($event)">
          </zxing-scanner>
      </div>
  </div>


  </div>