<div class="container">
    <!-- Barre de recherche -->
    <div class="head">
     

      <h2>Liste des ordonnaces</h2>
      
    </div>
  
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Ordonnance</th>
         
          <th>Date</th>
          <th>Médecin</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordonnace of Ordonnances" (click)="showDetails(ordonnace)">
           
            <td>{{ ordonnace.ordo }}</td>
            <td>{{ ordonnace .date }}</td>
            <td>{{ ordonnace.medecin }}</td>
           
           
        </tr>

        
      </tbody>
    </table>

    <!-- Détails de l'ordonnance -->
<div *ngIf="selectedOrdo" class="overlay-container">
    <div class="details-panel">
        <button class="close-button " (click)="closeDetails()">X</button> 
    <h3>Détails de l'Ordonnance</h3>
  
    <!-- Exemple de détails des médicaments -->
    <div *ngFor="let row of selectedOrdo.details" class="details-row">
        <span><strong>Médicament:  </strong> {{ row.medecament }}</span>
        <span><strong>Dosage:</strong> {{ row.dose }}</span>
        <span><strong>Durée:</strong> {{ row.duree }}</span>
    </div>

    </div>
  
   

  
 
</div>


  


  </div>