
<div class="main-content">
    <div class="form-container">
        <h1>Créer DPI</h1>
        <form [formGroup]="dpiForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" formControlName="nom" placeholder="Nom">
                    <div *ngIf="isInvalid('nom')" class="error-message">
                        Le nom est requis.
                    </div>
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" formControlName="prenom" placeholder="Prénom">
                    <div *ngIf="isInvalid('prenom')" class="error-message">
                        Le prénom est requis.
                    </div>
                </div>
                <div class="form-group">
                    <label for="date-naissance">Date de naissance</label>
                    <input type="date" id="date-naissance" formControlName="dateNaissance">
                    <div *ngIf="isInvalid('dateNaissance')" class="error-message">
                        La date de naissance est requise.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="adresse">Adresse</label>
                    <input type="text" id="adresse" formControlName="adresse" placeholder="Adresse">
                    <div *ngIf="isInvalid('adresse')" class="error-message">
                        L'adresse est requise.
                    </div>
                </div>
                <div class="form-group">
                    <label for="telephone">N° téléphone</label>
                    <input type="text" id="telephone" formControlName="telephone" placeholder="N° téléphone">
                    <div *ngIf="isInvalid('telephone')" class="error-message">
                        Le numéro de téléphone est requis et doit être valide.
                    </div>
                </div>
                <div class="form-group">
                    <label for="sexe">Sexe</label>
                    <select id="sexe" formControlName="sexe">
                        <option value="M">M</option>
                        <option value="F">F</option>
                    </select>
                    <div *ngIf="isInvalid('sexe')" class="error-message">
                        Le sexe est requis.
                    </div>
                </div>
                <div class="form-group">
                    <label for="groupe-sanguin">Groupe sanguin</label>
                    <select id="groupe-sanguin" formControlName="groupeSanguin">
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                    <div *ngIf="isInvalid('groupeSanguin')" class="error-message">
                        Le groupe sanguin est requis.
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group">
                    <label for="medecins">Liste médecins traitants</label>
                    <select id="medecins" formControlName="medecins" multiple>
                        <option *ngFor="let medecin of medecins" [value]="medecin.id">
                            {{ medecin.name }}
                        </option>
                    </select>
                    <div *ngIf="isInvalid('medecins')" class="error-message">
                        Veuillez sélectionner au moins un médecin.
                    </div>
                </div>
                <div class="form-group">
                    <label for="urgence">Contact d'urgence</label>
                    <input type="text" id="urgence" formControlName="urgence" placeholder="Contact d'urgence">
                    <div *ngIf="isInvalid('urgence')" class="error-message">
                        Le contact d'urgence est requis.
                    </div>
                </div>
                <div class="form-group">
                    <label for="mutuelle">Mutuelle</label>
                    <input type="text" id="mutuelle" formControlName="mutuelle" placeholder="Mutuelle">
                    <div *ngIf="isInvalid('mutuelle')" class="error-message">
                        La mutuelle est requise.
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-blue" class="button">Submit</button>
        </form>
    </div>
</div>

  