<!--ce code est reserver pour la creation de sidebar et les fonctionaliter de administrative-->


<!--side bar -->


<div class="sidenav" [ngClass]="isLeftSidebarCollapsed() ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="fal fa-bars" aria-hidden="true"></i>
    </button>
    <div *ngIf="!isLeftSidebarCollapsed()" class="logo-text">Medlink</div>
    <button *ngIf="!isLeftSidebarCollapsed()" class="btn-close" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

  <ul class="sidenav-nav">


   
    <!-- cree un dpi sur sidebar -->


    <li class="sidenav-nav-item">
      <a routerLink="/affiche" routerLinkActive="active">
        <div class="sidenav-nav-link">
          <i class="sidenav-link-icon fal fa-file"></i>
          <span *ngIf="!isLeftSidebarCollapsed()" class="sidenav-link-text">Form</span>
        </div>
      </a>
    </li>



  
  </ul>
</div>

<!-- Content area where components will be loaded -->
<div class="content">
  <router-outlet></router-outlet>
</div>
