.layout {
    display: flex;
    height: 100vh;

    position: relative; /* Nécessaire pour le positionnement du main */
  }
  
  /* Sidebar */
  .sidebar {
    width:6vw;
    background: linear-gradient(to bottom, #3A8EF6, #225390);

    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  
    z-index: 1; /* Assurer que la sidebar est en dessous du main */
  }
  
  .logo img {
    width: 49%;
    height: auto;
    padding: 8%;
    margin-top: 2.1vh;

  }
  
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 1rem;
  }
  
  .logout i {
    font-size: 150%; /* Taille de l'icône */
    color: #ffffff;  /* Couleur de l'icône */
    cursor: pointer; /* Curseur au survol */
    transition: color 0.3s ease;
    padding: 20%;
  }
  
  .logout i:hover {
    color: #f00; /* Couleur au survol */
  }
 
  
  /* Main content */
  main {
    position: absolute; /* Placer le main au-dessus du sidebar */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background-color: white; /* Fond transparent à l'intérieur du main */
  
    border-radius: 2vw; /* Bord arrondi */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    z-index: 2; /* S'assurer que le main est au-dessus de la sidebar */
    margin-left: 4vw; /* Décaler le main pour qu'il ne chevauche pas la sidebar */
    overflow-y: auto; /* Ajout de l'option de défilement vertical */
  
  }
  