<div class="container">
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>N Dossier</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Date</th>
          <th>Type Radiographie</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let radio of radios">
          <td>{{ radio.nDossier }}</td>
          <td>{{ radio.nom }}</td>
          <td>{{ radio.prenom }}</td>
          <td>{{ radio.date }}</td>
          <td>{{ radio.typeRadiographie }}</td>
          <td><button (click)="openRadiographyModal(radio)">Ajouter</button></td>
         </tr>

        
      </tbody>
    </table>

    <div class="modal-overlay" *ngIf="showRadiographyModal"> <div class="modal-content">
      <app-radiographie  [typeRadiographie]="selectedRadio?.typeRadiographie ?? null"  [nDossier]="selectedRadio?.nDossier ?? null" (close)="closeRadiographyModal()"></app-radiographie>
    </div>
  </div>
</div>
  </div>