<div class="search-container">
    <input 
      type="text" 
      [(ngModel)]="searchText" 
      placeholder="Search by name, first name or NSS" 
      class="search-bar" 
    />
  </div>
  
  <div class="results" *ngIf="filteredPeople.length > 0">
    <ul>
      <li *ngFor="let person of filteredPeople">
        {{ person.prenom }} {{ person.nom }} - NSS: {{ person.nss }}
      </li>
    </ul>
  </div>
  
  <!-- Show a message if no results are found after typing -->
  <div *ngIf="searchText && filteredPeople.length === 0">
    <p>No results found</p>
  </div>
  